# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
fin_env/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# macOS
.DS_Store

# Large binary files
*.so
*.dylib
*.js.map
*.js
